.classpath
.project
.settings
.springBeans
target

bluedragon/adminapi
bluedragon/administrator
bluedragon/jars
bluedragon/scripts
WEB-INF/bin/
WEB-INF/bluedragon/*
WEB-INF/classes/
WEB-INF/lib/
WEB-INF/webresources/
!WEB-INF/bluedragon/bluedragon.xml
!WEB-INF/web.xml
!WEB-INF/customtags/*